# Config
.env
*.env
.env.example
Procfile
release.config.js

# NPM & dependencies
node_modules
npm-debug.log
.cache

# Ignoring all markdown files
*.md
tutorials

# Github
.git
.github
.gitattributes
.gitignore
.gitkeep

# Docker
Dockerfile
*.Dockerfile
docker-compose.yml
*.docker-compose.yml
.dockerignore

# Linter files
.markdownlint.json
.eslintrc.json
linter-output.txt

# Only used to generate types in development
tsconfig.json
# Exported typings file
typings.d.ts
# README static files
assets/showcase