.git
.devcontainer
.github
.vscode
config
data
dist
logs
node_modules

.dockerignore
*.env
.env.example
.eslintrc.json
.gitattributes
.gitignore
*.md
commitlint.config.js
docker-compose.yml
Dockerfile
release.config.js